@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --accent-color:rgba(22,163,74,1);
  --secondary-color:rgba(67,56,202,1);
  --error-color: rgb(239 68 68) ;
  --secondary-color-hover:rgb(79,70,229,1);
  --default-text-color:whitesmoke
}
body.dark{
  --bg-color:rgb(31,41,55,1);
  --text-color:white;
  --text-hover-color:black;
  --card-bg:rgb(24,24,27,0.9);
  --eye-bg:rgb(82,82,91,1);
  --author-bg:whitesmoke;
  --author-text-color:black;
}
body.light{
  --bg-color:rgb(196 196 203);
  --text-color:black;
  --text-hover-color:white;
  --card-bg:rgba(255, 255, 255, 0.2);
  --eye-bg:rgb(113 111 111 / 59%);
  --author-bg:rgb(31,41,55,1);
  --author-text-color:whitesmoke;
}
body{
  background: var(--bg-color);
}
*{
  font-family: "Poppins", sans-serif;
}
::selection{
  color: var(--accent-color);
}
::-webkit-scrollbar{
  display: none;
}
.card{
  cursor: grab;
}